<h1>Data Inside Server</h1>
<div>Last execution started: <%= $info[:started] if $info %></div><br/>
<div>Last execution stopped: <%= $info[:stopped] if $info %></div><br/>
<div>Last execution error: <%= $info[:error] if $info %></div><br/>
